<div fxLayout="row wrap" fxFlex="100" fxLayout.lt-lg="column wrap" align="center">
  <div fxLayout="row wrap" fxFlex="100" fxFlex.lt-lg="100">
    <div fxFlex="50" fxLayout="column" class="icons" fxLayoutGap="1em" fxLayoutAlign="center start">
      <img class="icon" src="/assets/icons/save.png" alt="" >
      <img class="icon" src="/assets/icons/save.png" alt="">
      <img class="icon" src="/assets/icons/save.png" alt="">
      <img class="icon" src="/assets/icons/save.png" alt="">
    </div>
  </div>
</div>
