<div class="container-wrapper">
  <div class="container-top"></div>
  <div class="container-bottom" fxLayout="row"  fxLayoutAlign="space-between center">

      <!-- cercle+texte -->
      <div class="circle-text-container">

        <!-- cercle -->
        <div class="white-circle">
          <div class="gray-circle"></div>
          <button class="icon">
            <img src="/assets/icons/add%20images.png" alt="" height="20" width="20">
          </button>
        </div>

        <!-- texte -->
        <div fxLayout="column" class="text">
          <div class="title">
            <span>Tboholidays</span>
          </div>
          <div class="sous-title">
            <div class="supplier">Supplier: supplier name</div>
            <div class="last-update">Last update: 00/00/0000</div>
          </div>
        </div>

      </div>
      <!-- end cercle+texte -->

      <!-- boutons -->
      <div class="btn"  fxLayout="row" fxLayoutAlign="center center">
        <button  mat-flat-button class="btn-abandon" >
          <img src="/assets/icons/abandon.png" alt="">
          <span>Abandon</span>
        </button>
        <button class="btn-save" mat-flat-button>
          <img src="/assets/icons/save.png" alt="">
          Save
        </button>
      </div>

    </div>

</div>
