html,body{
  height: 100%;
  margin: 0;
}

body { font-family: "Nunito", sans-serif; }

.mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


