.menu-header {
  display: flex;
  justify-content: center;
}

.menu-header > mat-button-toggle {
  width: 100%;
}

.menu-header > .mat-button-toggle-group,
.mat-button-toggle-standalone:not([class*=mat-elevation-z]),
.mat-button-toggle-group:not([class*=mat-elevation-z]) {
  box-shadow: 0px 3px 6px #00000029;
}

:host ::ng-deep .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background: #2E3087;
  color: #FFFFFF;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard + .mat-button-toggle-appearance-standard {
  border-left: none;
}
:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    letter-spacing: 0.35px;
  font-weight: lighter;
  font-family: "Nunito", sans-serif;

}

.text {
  display: flex;
  text-align: left;
  color: #212145;
  opacity: 1;
  padding-bottom: 30px;
  padding-left: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0px;
}
.titre {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-right: 0.3rem;
}
.sous-title{ padding-top: 5px}

:host ::ng-deep  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  letter-spacing: 0.35px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
}

span {
  font-family: "Nunito", sans-serif;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  --mat-standard-button-toggle-shape: 4px;
  --mat-standard-button-toggle-hover-state-layer-opacity: 0.04;
  --mat-standard-button-toggle-focus-state-layer-opacity: 0.12;
  border-radius: var(--mat-standard-button-toggle-shape);
  border: none;
}
.html{
  --mat-standard-button-toggle-text-color:#191A47;
}
